openapi: 3.0.3
info:
  title: Currency Convert Currencies API
  description: CurrencyAPI (currencyapi.com, an Everapi product) is a foreign exchange rate and currency conversion REST API. A single versioned surface at https://api.currencyapi.com/v3 provides the latest exchange rates, historical end-of-day rates back to 1999, time-series ranges with day/hour/quarter-hour/ minute accuracy, value conversion, currency metadata, and account quota status. All endpoints are GET requests authenticated with an API key passed either as an "apikey" HTTP header (recommended) or an "apikey" query parameter. Only successful calls count against your quota; the status endpoint is never counted.
  version: '3.0'
  contact:
    name: CurrencyAPI
    url: https://currencyapi.com
  termsOfService: https://currencyapi.com/terms
servers:
- url: https://api.currencyapi.com/v3
  description: Production
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Currencies
  description: Supported currency metadata.
paths:
  /currencies:
    get:
      operationId: listCurrencies
      tags:
      - Currencies
      summary: List supported currencies
      description: Returns metadata for all supported currencies - symbol, name, native symbol, decimal digits, rounding, code, plural name, type, and associated countries - optionally filtered by code or type.
      parameters:
      - $ref: '#/components/parameters/currencies'
      - $ref: '#/components/parameters/type'
      responses:
        '200':
          description: Supported currency metadata keyed by currency code.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Currency'
              example:
                data:
                  USD:
                    symbol: $
                    name: US Dollar
                    symbol_native: $
                    decimal_digits: 2
                    rounding: 0
                    code: USD
                    name_plural: US dollars
                    type: fiat
                    countries:
                    - US
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Monthly quota or per-minute rate limit exceeded. Inspect the X-RateLimit-Limit-Quota-Minute, X-RateLimit-Limit-Quota-Month, X-RateLimit-Remaining-Quota-Minute, and X-RateLimit-Remaining-Quota-Month response headers to monitor consumption.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Validation error - incorrect or missing parameters. Failed requests do not count against your quota.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Currency:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        symbol_native:
          type: string
        decimal_digits:
          type: integer
        rounding:
          type: number
        code:
          type: string
        name_plural:
          type: string
        type:
          type: string
          enum:
          - fiat
          - metal
          - crypto
        countries:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  parameters:
    currencies:
      name: currencies
      in: query
      required: false
      description: A list of comma-separated currency codes you want to receive (e.g. EUR,USD,CAD). Defaults to all available currencies.
      schema:
        type: string
        example: EUR,USD,CAD
    type:
      name: type
      in: query
      required: false
      description: The type of currency you want to get. Defaults to all types.
      schema:
        type: string
        enum:
        - fiat
        - metal
        - crypto
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: apikey
      description: API key passed as an HTTP header (recommended).
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: API key passed as a query parameter (may expose the key in access logs).
